<h2>Chat with <%= @friend.first_name %> <%= @friend.last_name %></h2>
<div class="card bg-dark p-4 my-2">
  <div class="chat-container">
    <% @messages.each do |message| %>
      <div class="message <%= message.sender_id == current_user.id ? 'sent' : 'received' %>">
        <% sender = message.sender_id == @me.id ? @me : @friend %>
        <p><strong><%= sender.first_name %></strong>: <%= message.content %></p>
        <span><%= Time.at(message.created_at).strftime('%H:%M') %></span>
      </div>
    <% end %>
  </div>
  <div class="p-5 mb-4 text-light rounded-3 text-end">
  <%= link_to "Answer",  new_user_message_path(@friend.id), class: "btn btn-outline-secondary m-2 p-2" %>

  <%= link_to "Back", @friend, class: "btn btn-outline-primary p-2" %>
  </div>
</div>
