<div class="container mt-4">
  <h1 class="mb-4"><%= t("message.show") %></h1>

  <div class="border rounded-4 bg-light text-dark">

    <% if @message %>
      <div class="mb-3">
        <p><strong><%= t("message.subject") %></strong> <%= @message.subject if @message.subject %></p>
        <p><strong><%= t("message.content") %></strong> <%= @message.content if @message.content %></p>
      </div>

      <div class="row">
        <div class="col">
          <% if @sender %>
            <p><strong><%= t("message.sender") %></strong> <%= link_to "#{@sender.full_name}", @sender, class: "text-decoration-none" %></p>
          <% end %>
        </div>
        <div class="col">
          <% if @receiver %>
            <p><strong><%= t("message.receiver") %></strong> <%= link_to "#{@receiver.full_name}", @receiver, class: "text-decoration-none" %></p>
          <% end %>
        </div>
      </div>

  </div>

  <%= link_to t('back'), :back, class: 'btn btn-outline-light mt-3' %>
  <% else %>
    <p><%= t("message.not_found") %></p>
  <% end %>

</div>
