<div class="form-signin my-4 mx-auto w-75">
  <h1 class="text-center my-4"><%= t('setting.index') %></h1>
  
  <%= form_with(model: setting) do |form| %>

    <div class="field form-group">
      <div class="checkbox-inline">
        <%= form.check_box :has_darkmode, class: "form-check-input" %>
        <%= form.label :has_darkmode, I18n.t('setting.has_darkmode') %>
      </div>
    </div>

    <hr>

    <div class="form-group mb-3">
      <%= form.label I18n.t('setting.default_locale') %>
      <%= form.select :default_locale, options_for_select(Setting.default_locales.map {|k, v| [I18n.t("#{k}"), v]}, setting.default_locale), class: "form-control" %>
    </div>

    <%= form.submit t('devise.update_btn'), class: "btn btn-primary m-3" %>
  <% end %>
</div>