<%= render 'devise/shared/error_messages', resource: @comment %>

<div class="form-signin my-4 mx-auto w-75">
  <%= form_for(@comment, url: create_comment_post_path(@post)) do |form| %>
    <div>
      <%= form.label :content %>
      <%= form.text_area :content, class:"form-control" %>
    </div>

    <hr>

    <div class="actions">
      <%= form.submit t("button_#{action}"), class:"btn btn-lg btn-light my-auto" %>
    </div>
  <% end %>
</div>