<h1 class="text-center"><%= t('posts') %></h1>

<div id="posts" class="text-center mx-auto w-100">

  <%= render "shared/posts_search_form", action: 'posts' %>

  <% if @posts.length > 0 %>
    <% @posts.each do |post| %>
      <%= render 'shared/post', post: post %>
    <% end %>
  <% end %>

  <%= page_entries_info @posts %>
  <%= paginate @posts, theme: 'bootstrap-5', pagination_class: "my-3 pagination-sm flex-wrap justify-content-center" %>
  <div class="d-flex justify-content-start">
      <%= link_to t('post.new'), new_post_path, class:"btn btn-light text-success" %>
  </div>
</div>